:root {
    --font-Leckerli: 'Leckerli One', cursive;
    --font-Baloo: 'Baloo 2', sans-serif;
    --font-Open: 'Open Sans', sans-serif;
} 

h1 {
    font-family: var(--font-    --font-Open: 'Open Sans', sans-serif;
);
}