#app {
    display: grid;
    grid-template-columns: 33% 67%;
    height: 100vh;
    overflow: hidden;
    padding: 20px;
    gap: 20px;
    background-color: var(--shape-background);
}

main {
    overflow: auto;
    padding: 32px;
    background-image: url(/assets/Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;

    & .main-container img {
        height: 48px;
        width: 45.85px;
    }

    & h1 {
        font-family: var(--font-Leckerli);
        font-size: 40px;
        font-weight: normal;
        color: var(--pink);
        margin: 16px 0 0 0;
    }

    & h3 {
        font-family: var(--font-Open);
        font-weight: lighter;
        font-size: 16px;
        color: var(--text-heading);
        margin: 4px 0 0 0;
    }

}